// Place all the styles related to the series controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

 
  .image-src {
      padding: 16px;
      width: 350px;
      text-align: center;
    }


  div.product {
    border: 1px solid #ddd;
    float: left;
    width: 400px;
    height: 750px;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 30px;
    margin-top: 50px;
   
}
  
  div.product a {
   color: white;
   text-decoration: none;
   font-weight: bold;
   display: block;
   background-color: orangered;
   padding: 8px;
   margin: 0;
  }

  div.product a:hover {
    color: #ccc;
   }
   
   .show-card{
    text-align: center;
   }